Package: diskmgr
Version: 1.0-1
Section: utils
Priority: standard
Architecture: phoenix
Requires: libsystem
Maintainer: JackMacWindows <jackmacwindowslinux@gmail.com>
Description: disk auto mounting manager
 Manager service to handle automatically mounting
 attached disks.
 