local process = require "system.process"

unit.description = "Disk Manager"
service.restart = "always"
service.restartTime = 0

function start()
    service.pid[1] = process.start("/usr/libexec/diskmgr")
    return true
end
